server:
  port: 8082

spring:
  application:
    name: notification-service

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: notification-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    properties:
      spring.json.trusted.packages: com.deskreserve.common.events
      spring.json.value.default.type: com.deskreserve.common.events.ReservationEvent

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${OAUTH_ISSUER_URI:http://localhost:8080/realms/deskreserve}

management:
  endpoints:
    web:
      exposure:
        include: health,info

app:
  kafka:
    topics:
      reservations: desk-reservations
